* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* nav style */
nav {
  height: 100px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  display: flex;
  justify-content: space-around;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-name {
  /* text-align: center;
font-family: Work Sans; */
  font-size: 40px;
  font-weight: 700;
}
.logo-name span {
  color: #ff42a5;
}
nav ul {
  list-style: none;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.special-menu {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px 20px;
  display: flex;
  gap: 10px;
}
.tiktok {
  width: 13px;
}

/* banner style */
.banner {
  margin: 0px 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-left {
  width: 50%;
  padding-top: 60px;
}
.banner h2 {
  font-size: 45px;
  font-weight: 600;
}
.text-gradient {
  color: #f948b2;
  font-size: 70px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-feature {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
  color: #534c64;
}
.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.btn-primary {
  display: inline-flex;
  padding: 18px 40px;
  align-items: flex-start;
  border-radius: 48px;
  color: white;
}
.btn-1{
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.btn-2{
  background: #4EC5F7;
}
.banner-right {
  width: 50%;
}
.banner-img {
  margin-left: ;
  width: 100%;
}
/* gamer section style */
.gamer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin: 40px 200px;
}
.gamer-left{
  width: 50%;
}
.gammer-img{
  width: 100%;
}
.gamer-right{
  width: 50%;
  text-align: right;
}
.gamer-title{
font-size: 45px;
}
.gamer-description{
  margin: 20px 0px;
  color: #534C64;
  font-weight: 400;
line-height: 30px;
}
.btn-3{
  border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: none;
}
.purpose{
  padding-top: 25px;
  color: #534C64;
line-height: 25px;
text-align: right;
}
.purpose span{
  font-size: 24px;
  font-weight: 400;
}